body {
    background-color: lightblue;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: large;
}

#player-score {
    width: 450px;
    margin: auto;
}

.player1 {
    float: left;
    padding-left:10px;       
}

.player2 {
    float: right;
    padding-right:10px;
}

#container {
    background-color: red;
    width: 450px;
    height: 450px;
    margin: auto;     
}

#displayResult {
    background-color: violet;
	width: 450px;
    height: 450px;
    position: absolute;  
    z-index: -1;
    opacity: 50%;
}

#grid {
    background-color: green;
    width: 450px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;    
}
    
#grid div {
    background-color: brown;
    width: 150px;
    height: 150px;
    border: 1px solid orange;
    box-sizing: border-box;
}
